.images {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 0 30%;
}

.smallimage {
    width: 20px;
    height: 20px;
    padding-right: 5px;
    position: relative;
    bottom: 1px;
  }