.testing {
  font-size: 5rem;
}

html {
  background: linear-gradient(#343541, #172339);
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* html, body {
  max-height: 100vh;
  overflow-y: hidden;
 } */

span {
  color: #e93d44;
}

@media screen and (max-width: 1100px) {
  .testing {
    font-size: 4rem;
  }
}

@media screen and (max-width: 900px) {
  .testing {
    font-size: 10vw;
  }
}

::-webkit-scrollbar {
  width: 5px; /*Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #111823; /* Track color */
}

::-webkit-scrollbar-thumb {
  background: #595858; /* Thumb color */
  border-radius: 2px; /* Border radius of the thumb */
}